.section-create_group {
  margin-left: 20px;
  margin-right: 20px;
}
.section-create_group_Header {
  margin-top: 42px;
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.section-create_group_Header_arrow {
  margin-right: 24px;
}
.section-groups_sort_container{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
}
.section-create_group_description{
  width: 100%;
  height: 100px;
  margin-bottom: 24px;
}
.section-create_group_btns{
  margin-bottom: 15px;
}
.addTutor_btn{
  position: absolute;
  bottom: 150px;
  left: 20px;
  width: calc(100% - 40px);
}
.buttons_boxes{
  left: 20px;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 80px;
  display: flex;
  gap: 15px;

}
.buttons_boxes>*{
  width: 50%!important;
}