nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89cff0;
  height: 60px;
}
nav ul {
  margin-top: 13px;
  display: flex;
  gap: 20px;
}
nav ul li {
  list-style: none;
}
@media (max-width: 720px) { 
  nav ul li{
    display: none;
  }
 }

