.section_tutorProfile {
  margin-left: 20px;
  margin-right: 20px;
}
.section_tutorProfile_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}
.section_tutorProfile_description_text {
  margin: 0;
}
.section_tutorProfile_description {
  margin-top: 2px;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  font-weight: 100 !important;
  margin-bottom: 27px;
}
.section_tutorProfile_topics {
  margin-left: 2px;
  margin: 0;
}
.section_tutorProfile_your_topic {
  margin: 0;
  display: flex;
  align-items: center;
}
.settings{
  position: absolute;
  top: 35px;
  right: 20px;
}
