.subject_blockInput{
    padding: 0;
    width: 100%;
    margin-top: 22px;
    text-align: start;
    padding-left: 12px;
}
.LogInContainer_Form_input_search{
    padding: 0;
    
}
.pen{
    margin-right: 12px;
}
.buttons_chooseSubject{
    position: relative;
    margin-top: 200px;
    margin-bottom: 15px;
}