.modal-container {
  display: flex;
  justify-content: center;
}
.modal-create-group {
  margin-top: 60px;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-create-group-label {
  font-weight: bolder;
}
.modal-create-group-box {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.modal-create-group-btn {
  margin-top: 300px;
}
@media (max-width: 720px) { 
  .modal-create-group-btn{
    display: none;
  }
 }


