.group-details {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group-details-container-tutor {
  border-radius: 20px;
  padding-left: 20px;
  height: 50vh;
  width: 450px;
  -webkit-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  border-top: 10px solid #89cff0;
}
.group-details-container-students {
  border-radius: 20px;
  padding-left: 20px;
  height: 50vh;
  width: 450px;
  -webkit-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  border-top: 10px solid #89cff0;
}
.group-details-container-aboutGroup {
  border-radius: 20px;
  padding-left: 20px;
  height: 50vh;
  width: 450px;
  -webkit-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
  border-top: 10px solid #89cff0;
}
.group-details-container-title {
  text-align: center;
}
.group-details-joinToGroupBtn {
  position: absolute;
  top: 80%;
}
